<!DOCTYPE html>
<html>
<head>
  <title>SpudReports</title>
  <%= stylesheet_link_tag    "spud_reports/application", :media => "all" %>
  <%= javascript_include_tag "spud_reports/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
